* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
}

header nav {
  position: absolute;
  right: -80vw;
  width: 80vw;
  top: 50px;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

header .logo {
  align-self: center;
  padding-left: 10px;
}

header .menu-toggle {
  align-self: center;
  position: relative;
  padding-right: 10px;
  font-size: 2rem;
  color: orange;
}

header .menu {
  font-family: "Anton", sans-serif;
  background-color: rgba(255, 255, 255, 0.95);
  right: 0;
  height: calc(100vh - 50px);
  justify-content: space-evenly;
  text-align: right;
  padding-right: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 4.5rem;
  white-space: nowrap;
}

.show {
  right: 0vw;
}

header .menu li {
  list-style: none;
}

header .menu li a {
  text-decoration: none;
  color: orange;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 44%;
  transform: translateY(-50%);
}

.welcome-text .comment {
  align-self: center;
}

.welcome-text h1 {
  /* font-family: "Anton"; */
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 2px;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.welcome-text p {
  position: relative;
  width: 230px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.welcome-text p.name {
  padding-top: 20px;
  font-style: italic;
  font-size: 0.9rem;
}

.welcome-text p.name::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 70%;
  top: 10px;
  border-bottom: 1px solid orange;
}

.scroll-arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: #fff;
  animation: scrollAnimation 1s infinite ease-in-out;
}

@keyframes scrollAnimation {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}
